body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #865744; */
    /* background-color: #e7d3cc; */
    /* background: linear-gradient(195deg,  #e7d3cc, #fffbf5); */
    /* background: #27292B; */
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 300px;
    /* background-color: #2c3e50; */
    /* background-color: #4b4a4a; */
    /* background-color: #fffbf5; */
    /* border-right: 1px solid #d2e6fc; */
    background: #27292B;
    color: #ffffff;
    padding: 20px;
    font-weight: 500;
}

.sidebar h2 {
    /* color: #525252; */
    color: #ffffff;
}

.sidebar-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 10px;
}

.service-list {
    list-style: none;
    padding: 0;
}

.service-item {
    margin: 10px 0;
    padding: 8px;
    /* background-color: #34495e; */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.service-item:hover {
    background-color: #1abc9c;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* background-color: #ffffff; */
}

.header {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #ccc; */
}

.welcome {
    margin: 0;
    font-size: 1.8em;
    /* color: #525252; */
    color: #000000;
}

.content {
    flex: 1;
    padding: 30px;
    /* background-color: #f4f6f8; */
    color: #000000;
}

.user-info {
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info h3 {
    margin-top: 0;
    color: #333;
}

.user-info ul {
    list-style: none;
    padding: 0;
}

.user-info li {
    margin-bottom: 8px;
    color: #555;
}

.footer {
    padding: 15px 20px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}

.lgoutBtn button {
    background-color: #34495e;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.stat-box {
    flex: 1 1 200px;
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.chart-container {
    margin-top: 40px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}